*.log
project/target/
project/project/
target/
dev/build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.project
.cache
.classpath
.settings/
*.dot
.DS_Store
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
*dependency-reduced-pom.xml
docs/_site
